.btn-default {
    background-color: #eb4d4b;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    font-family: inherit;
    cursor: pointer;
    font-size: inherit;
    transition: background-color 0.8s;
  }
  
  .btn-default:hover{
    background-color: #c0392b;
  }

  .btn-default.btn-blue{
    background-color: #3498db;
  }

  .btn-blue:hover{
    background-color: #277fb9;
  }