.card {
   box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.2);
   border-radius: 2px;
}

.card header {
   padding: 20px;
}
.card hr {
   border: 0.1px solid #e6e8e9;
}
.card article {
   padding: 40px;   
}