:root{
    --white: #fff;
    --dark: #707070;
    --red: #eb4d4b;
    --blue: #3498db;
    --gray: #8492a6;
    --purple: #8e44ad;
}

.white{
  background-color: var(--white);
}

.dark{
  background-color: var(--dark);
}
  
.red{
  background-color: var(--red);
}
  
.blue{
  background-color: var(--blue);
}

.purple{
  background-color: var(--purple);
}

.border-dark{
  border-color: var(--dark);
}

.border-red{
  border-color: var(--red);
}

.border-blue{
   border-color: var(--blue); 
}

.border-purple{
  border-color: var(--purple); 
}
 
.text-white{
    color: var(--white); 
}

.text-dark{
   color: var(--dark);
}
  
.text-red{
   color: var(--red);
}
  
.text-blue{
  color: var(--blue); 
}

.text-gray{
  color: var(--gray);
}

.text-purple{
  color: var(--purple);
}